
<h3>Kategoria kezeles</h3>
<hr>
<button type="button" class="btn btn-primary mb-3" routerLink="/categForm">Uj adat rögzítés</button>
<table class="table table-hover table-striped table-bordered mb-3">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">KategoriaNev</th>
        <th>Módosítás</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.id}}</td>
        <td>{{category.kategoriaNev}}</td>
        <td class="text-end">
          <button class="btn btn-sm btn-warning me-2" routerLink="/categForm/{{category.id}}"><i class="bi bi-gear-wide"></i></button>
          <button class="btn btn-sm btn-danger" (click)="delete(category.id)"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
       <th colspan="3" class="text-center"> Összesen: <span>0</span> rekord</th>
    </tfoot>
  </table>