
<h3>Forgalom kezeles</h3>
<hr>
<button type="button" class="btn btn-primary mb-3" routerLink="/traficForm">Uj adat rögzítés</button>
<table class="table table-hover table-striped table-bordered mb-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Kategoria</th>
        <th>termék</th>
        <th>Vevő</th>
        <th>Egység</th>
        <th>Nettó ár</th>
        <th>Mennyiseg</th>
        <th>Kiadva</th>
        <th>Művelet</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let trafic of trafics;index as i">
        <td class="text-end">{{i+1}}.</td>
        <td class="text-end">{{trafic.kategoriaId}}</td>
        <td>{{trafic.termek}}</td>
        <td>{{trafic.vevo}}</td>
        <td>{{trafic.egyseg}}</td>
        <td class="text-end">{{trafic.nettoar}}</td>
        <td class="text-end">{{trafic.mennyiseg}}</td>
        <td class="text-end " *ngIf="trafic.kiadva==1">Kiadva</td>
        <td class="text-end" *ngIf="trafic.kiadva==0">Folyamatban</td>
        <td>
          <button class="btn btn-sm btn-warning me-2" routerLink="/traficForm/{{trafic.id}}"><i class="bi bi-gear-wide"></i></button>
          <button class="btn btn-sm btn-danger" (click)="delete(trafic.id)"><i class="bi bi-trash-fill"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
       <th colspan="8" class="text-center"> Összesen: <span>{{trafics.length}}</span> rekord</th>
    </tfoot>
  </table>