<form>
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="kategNevField" placeholder="">
        <label for="floatingInput">Termék</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="kategNevField" placeholder="">
        <label for="floatingInput">Vevő</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="kategNevField" placeholder="">
        <label for="floatingInput">Egység</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="kategNevField" placeholder="">
        <label for="floatingInput">Nettó ár</label>
      </div>
      <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="kategNevField" placeholder="">
        <label for="floatingInput">Mennyiség</label>
      </div>

      <button type="button" class="btn btn-primary m-3" id="saveCateg">Mentés <i class="bi bi-floppy"></i></button>
      <button type="button" class="btn btn-secondary" routerLink="/trafics">Vissza</button>
</form>