
<h3>Vásárló kezeles</h3>
<hr>
<button type="button" class="btn btn-primary" routerLink="/customersForm">Uj adat rögzítés</button>
<table class="table table-hover table-striped table-bordered mb-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Vásárló neve</th>
        
      </tr>
    </thead>
    
    <tbody >
      <tr *ngFor="let customer of customers">
        <td>{{customer.vevoID}}</td>
        <td>{{customer.vevoNev}}</td>
      </tr>

    </tbody>
    <tfoot>
       <th colspan="8" class="text-center"> Összesen: <span>0</span> rekord</th>
    </tfoot>
  </table>